<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Knit Bandit</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="settings">
        <label>
          <span>Cellestørrelse</span>
          <input
            type="range"
            min="11"
            max="50"
            v-model.number="cellSize"
            @input="canvasResize"
          />
        </label>
        <label>
          <span>Repeter</span>
          <input
            type="range"
            min="-1"
            :max="rows"
            v-model.number="repeat"
            @input="canvasResize"
          />
        </label>
        <!-- <label>
          <span>offsetX</span>
          <input
            type="range"
            min="-3"
            max="3"
            step="0.01"
            v-model.number="offsetX"
            @input="canvasResize"
          />
        </label>
        <label>
          <span>offsetY</span>
          <input
            type="range"
            min="-3"
            max="3"
            step="0.01"
            v-model.number="offsetY"
            @input="canvasResize"
          />
        </label> -->
        <label>
          <span>Bredde</span>
          <input
            type="number"
            v-model.number="rows"
            min="1"
            @input="canvasResize"
          />
        </label>
        <label>
          <span>Høyde</span>
          <input
            type="number"
            v-model.number="columns"
            min="1"
            @input="canvasResize"
          />
        </label>
      </div>
      <div id="toolsAndCanvas">
        <div id="brushes">
          <button
            class="brush"
            :class="{activeBrush: brushIndex == activeBrush}"
            v-for="(brush, brushIndex) in brushes"
            @click="activeBrush = brushIndex"
          >
            {{ brush.name }}
          </button>
          <button class="brush" @click="saveImg">📷</button>
        </div>
        <div id="canvasHolder"></div>
      </div>
      <div id="description">
        <!-- <h3>Beskrivelse</h3> -->
        <label
          v-for="brush in brushes"
          :key="brush.name"
          v-if="brush.name != ' '"
        >
          <p>
            <span>{{ brush.name }}:</span>
            <input type="text" v-model="brush.nb" />
          </p>
        </label>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
