body {
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
  box-sizing: border-box;
}
#settings {
  display: flex;
  flex-direction: column;
}
#settings > label > span {
  text-align: right;
  width: 120px;
  display: inline-block;
  margin-right: 10px;
}
#toolsAndCanvas {
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
}
#brushes {
  display: flex;
  flex-direction: column;
  width: 35px;
  margin: 0 15px 0 0;
}
#brushes .brush {
  font-weight: bold;
  padding: 6px 0;
  line-height: 1em;
  border: 1px solid #a3a3a3;
  background: white;
  border-radius: 0;
  margin-bottom: -1px;
  font-size: 16px;
  color: #3a3a3a;
  height: 35px;
}
#brushes .brush:first-of-type,
#brushes .brush:last-of-type {
  border-radius: 4px;
}
#brushes .brush:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#brushes .brush:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#brushes .activeBrush {
  background: #000bbe;
  border-color: #000bbe;
  color: white;
  z-index: 2;
}
#canvasHolder {
  border: 1px solid #a3a3a3;
  border-radius: 3px;
}
#canvasHolder canvas {
  display: block;
}
input[type='range'] {
  width: 180px;
}
label {
  margin: 0 0 4px 0;
  display: block;
}
input[type='number'],
input[type='text'] {
  border: 1px solid #afafaf;
  padding: 5px 7px;
  font-size: 0.8em;
  border-radius: 3px;
}
input[type='number'] {
  width: 50px;
}
#description span {
  display: inline-block;
  width: 15px;
  margin-right: 10px;
}
@media print {
  #settings,
  #brushes,
  input {
    display: none;
  }
}
